


.emptyTaskListMessage {
    font-size: 25px;
    font-weight: 230;
    color: rgb(22, 21, 21);
    text-align: center;
}


.content {
    padding: 8px;
}

.content > mat-card {
    /**width: 200px;*/
}

.content mat-card.mat-elevation-z4 {
    /** background-color: rgb(240,255,240);     */
     
}



.content mat-card.mat-elevation-z4  mat-card-title{
    cursor: pointer;
}

.content mat-card.mat-elevation-z4 mat-card-content p{
    cursor: pointer;
}


.mat-paginator {
    display: flex;
    justify-content: left;
  } 


  .condensedText1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;

  }

  .condensedText2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;

  }

  .condensedText3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;

  }