.container {
  border: 2px solid purple;
}

form {
  margin-top: 12.5em;
  margin-left: 0;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 20em;
}

tr {
  display: flex;
  justify-content: center;
}

td {
  width: 100%;
}

input {
  width: 20em;
}
mat-form-field {
  width: 100%;
}

button {
  padding: 0.4em 2em;
}

img {
  width: 45%;
  margin: 0;
  height: 100vh;
  padding: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.col {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 4.5rem;
  margin-top: 1em;
  text-align: center;
  color: #5e35b1;
}

h2 {
  text-align: center;
  color: #5e35b1;
  margin-right: 1em;
}

p {
  margin-top: 1.5em;
}
