
<div class="row">
  <img src="../../assets/images/notebook.jpg">
  <div class="col">
    <h1>Welcome to OnIT</h1>
    <form [formGroup]="form" (ngSubmit)="submitLogin()">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <h2>Sign-in</h2>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" name="Username" formControlName="email" matInput required>
          </mat-form-field></td>
        </tr>
        <tr>
          <td><mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" name="Password" formControlName="password" matInput required>
          </mat-form-field></td>
        </tr>
        <tr>
          <button mat-raised-button color="primary">Login</button>
        </tr>
        <tr>
          <div *ngIf="this.responseMessage" style="color:brown; margin-top:6px;">{{this.responseMessage}}</div>
        </tr>
        <tr>
          <p>Don't have an account? <a routerLink="/register">Please register Here</a></p>
        </tr>
      </table>
    </form>
  </div>
</div>
