<h1>Create an Account</h1>
<form class="example-form" [formGroup]="form" (ngSubmit)="registerButtonClicked()">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>First name</mat-label>
        <input matInput name="firstName" formControlName="firstName" type="text" required>
      </mat-form-field></td>
    </tr>
    <tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput name="lastName" formControlName="lastName" type="text" required>
      </mat-form-field></td>
    </tr>
    <tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput name="email" formControlName="email" type="email" required>
      </mat-form-field></td>
    </tr>
    <tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput name="password" formControlName="password" type="password" required>
      </mat-form-field></td>
    </tr>
    <tr class="around">
      <button type="submit" mat-raised-button color="primary">Register</button>
    </tr>

    <tr *ngIf="responseMessage" class="around">
      <div style="color: brown;">{{this.responseMessage}}</div>
    </tr>

    <tr>
      <p class="bottom-text">
        By clicking the Sign Up button, you agree to our
        <a href="#">Terms & Conditions</a> and
        <a href="#">Privacy Policy</a>
      </p>
    </tr>
    <tr>
      <p>Already have an account? <a routerLink="/home">Login Here</a></p>
    </tr>
  </table>
</form>